$disnorteDissur = -5px -5px 187px 34px
$movistar = -5px -49px 172px 38px
$ListoMarketing = -5px -97px 190px 38px
$enacal = -5px -145px 95px 46px
$mapfre = -5px -201px 228px 49px
$ibw = -5px -260px 113px 52px
$westernUnion = -5px -322px 193px 53px
$masterCard = -5px -385px 93px 56px
$claro = -5px -451px 61px 61px
$grupoCoen = -5px -522px 81px 64px
$masesa = -5px -596px 135px 67px
$loto = -5px -673px 92px 77px
$comoRecibirDinero = -5px -760px 82px 81px
$recarga = -5px -851px 71px 81px
$comoEnviarDinero = -5px -942px 83px 82px
$caracteristicas = -5px -1034px 82px 84px
$beneficios = -5px -1128px 85px 86px
$comoObtenerla = -5px -1224px 85px 90px
$comoRecargarla = -5px -1324px 85px 92px
$payall = -5px -1426px 388px 154px

sprite-width($sprite)
  width $sprite[2]

sprite-height($sprite)
  height $sprite[3]

sprite-position($sprite)
  background-position $sprite[0]  $sprite[1]

sprite($sprite)
  sprite-position($sprite)
  background-repeat no-repeat
  overflow hidden
  display block
  sprite-width($sprite)
  sprite-height($sprite)

.icon
  background-image url('../img/sprite.png')

