fuente(nombre,miFuente)
	@font-face
		font-family nombre
		font-weight normal
		src url('../fonts/'+ miFuente +'.eot')
		src url('../fonts/'+ miFuente +'.eot?#iefix') format('embedded-opentype'),url('../fonts/'+miFuente+'.woff') format('woff'),url('../fonts/'+miFuente+'.ttf') format('truetype'),url('../fonts/'+miFuente+'.svg#'+miFuente) format('svg')

fuente(icomoon, icomoon)
fuente(OSansBold, opensans-bold-webfont)
fuente(OSansLight, opensans-light-webfont)
fuente(OSansReg, opensans-regular-webfont)


